@import '../../_utilities/scss_vars';

.next_button {
  float: right;

  margin-right: 10px;

  &:hover {
    background-color: $dark_text;
  }

  &:active {
    background-color: $navy;
    box-shadow: none;
  }

  &:focus {
    background-color: $navy;
  }
}
